/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Общие стили */
* {
    box-sizing: border-box;
    margin: 10;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #1e202c, #60519b, #199797);
    background-size: 300% 300%;
    animation: gradientAnimation 8s ease infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Фон с точками */
body {
    font-family: 'Montserrat', sans-serif;
    background: url('/static/CzeBHnjlgvo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Основной контейнер */
.container {
    background: rgba(255, 255, 255, 0.005); /* Почти прозрачный */
    backdrop-filter: blur(15px); /* Увеличенное размытие */
    border-radius: 20px; /* Скругленные углы */
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Легкая тень */
}

/* Заголовки */
h1, h2 {
    font-weight: bold;
    color: #c5ced9;
}

/* Поля ввода */
input {
    background: #c5ced9;
    border: none;
    padding: 10px 1px;
    margin: 10px 0;
    width: 100%;
    border-radius: 30px;
}

/* Кнопки */
button {
    border-radius: 20px;
    border: 2px solid #c5ced9; /* Серый */
    background: #383b42; /* Светло-серый */
    color: #c5ced9;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s ease;
    cursor: pointer;
}

button:hover {
    background: #383b42; /* Темно-серый */
}

button:active {
    transform: scale(0.95);
}

/* Форма */
.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ссылки */
a {
    color: #bfc0d1;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Форма входа и регистрации */
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Сообщения об ошибках */
.error-message {
    color: #60519b;
    font-size: 14px;
    margin-top: 5px;
}
