{% extends 'index.html' %}

{% block title %}
    {% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %} книгу
{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post" action="{% if form.instance.pk %}{% url 'book_update' form.instance.pk %}{% else %}{% url 'book_create' %}{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group">
            <button type="submit" class="btn btn-submit">Сохранить</button>
            <a href="{% url 'book_list' %}" class="btn btn-back">Назад</a>
        </div>
    </form>
</div>
{% endblock %}
