{% extends 'index.html' %}

{% block title %}
    {% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %} книгу
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %} книгу</h2>

    <form method="post" class="styled-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-submit">Сохранить</button>
    </form>

    <a href="{% url 'book_list' %}" class="btn btn-back">Назад</a>
</div>
{% endblock %}
